<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iris.platform.platformshop.mapper.SystemGroupDataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="iris.platform.platformshop.entity.SystemGroupData">
        <id column="id" property="id" />
        <result column="add_time" property="addTime" />
        <result column="gid" property="gid" />
        <result column="sort" property="sort" />
        <result column="status" property="status" />
        <result column="value" property="value" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, add_time, gid, sort, status, value
    </sql>

</mapper>
