<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iris.platform.shop.mapper.BrandMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="iris.platform.common.entity.Brand">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="list_pic_url" property="listPicUrl" />
        <result column="simple_desc" property="simpleDesc" />
        <result column="pic_url" property="picUrl" />
        <result column="sort_order" property="sortOrder" />
        <result column="is_show" property="isShow" />
        <result column="floor_price" property="floorPrice" />
        <result column="app_list_pic_url" property="appListPicUrl" />
        <result column="is_new" property="isNew" />
        <result column="new_pic_url" property="newPicUrl" />
        <result column="new_sort_order" property="newSortOrder" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, list_pic_url, simple_desc, pic_url, sort_order, is_show, floor_price, app_list_pic_url, is_new, new_pic_url, new_sort_order
    </sql>

</mapper>
