<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iris.platform.shop.mapper.CouponMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="iris.platform.common.entity.Coupon">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="type_money" property="typeMoney" />
        <result column="send_type" property="sendType" />
        <result column="min_amount" property="minAmount" />
        <result column="max_amount" property="maxAmount" />
        <result column="send_start_date" property="sendStartDate" />
        <result column="send_end_date" property="sendEndDate" />
        <result column="use_start_date" property="useStartDate" />
        <result column="use_end_date" property="useEndDate" />
        <result column="min_goods_amount" property="minGoodsAmount" />
        <result column="min_transmit_num" property="minTransmitNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, type_money, send_type, min_amount, max_amount, send_start_date, send_end_date, use_start_date, use_end_date, min_goods_amount, min_transmit_num
    </sql>

</mapper>
