<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iris.platform.shop.mapper.SearchHistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="iris.platform.common.entity.SearchHistory">
        <id column="id" property="id" />
        <result column="keyword" property="keyword" />
        <result column="from" property="from" />
        <result column="add_time" property="addTime" />
        <result column="user_id" property="userId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, keyword, from, add_time, user_id
    </sql>

</mapper>
