<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iris.platform.shop.mapper.SysSmsLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="iris.platform.common.entity.SysSmsLog">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="mobile" property="mobile" />
        <result column="template_id" property="templateId" />
        <result column="code" property="code" />
        <result column="sign" property="sign" />
        <result column="send_status" property="sendStatus" />
        <result column="send_id" property="sendId" />
        <result column="success_num" property="successNum" />
        <result column="return_msg" property="returnMsg" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, mobile, template_id, code, sign, send_status, send_id, success_num, return_msg
    </sql>

</mapper>
