<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iris.platform.shop.mapper.TopicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="iris.platform.common.entity.Topic">
        <result column="id" property="id" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="avatar" property="avatar" />
        <result column="item_pic_url" property="itemPicUrl" />
        <result column="subtitle" property="subtitle" />
        <result column="topic_category_id" property="topicCategoryId" />
        <result column="price_info" property="priceInfo" />
        <result column="read_count" property="readCount" />
        <result column="scene_pic_url" property="scenePicUrl" />
        <result column="topic_template_id" property="topicTemplateId" />
        <result column="topic_tag_id" property="topicTagId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, content, avatar, item_pic_url, subtitle, topic_category_id, price_info, read_count, scene_pic_url, topic_template_id, topic_tag_id
    </sql>

</mapper>
