<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iris.platform.shop.mapper.UserCouponMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="iris.platform.common.entity.UserCoupon">
        <id column="id" property="id" />
        <result column="coupon_id" property="couponId" />
        <result column="coupon_number" property="couponNumber" />
        <result column="user_id" property="userId" />
        <result column="used_time" property="usedTime" />
        <result column="add_time" property="addTime" />
        <result column="order_id" property="orderId" />
        <result column="source_key" property="sourceKey" />
        <result column="referrer" property="referrer" />
        <result column="coupon_status" property="couponStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, coupon_id, coupon_number, user_id, used_time, add_time, order_id, source_key, referrer, coupon_status
    </sql>

</mapper>
